@font-face { font-family: dyslexic-regular; src: url('../font/OpenDyslexic3-Regular.ttf'); }
@font-face { font-family: dyslexic-bold; src: url('../font/OpenDyslexic3-Bold.ttf'); }
@font-face { font-family: dyslexic-italic; src: url('../font/OpenDyslexic-Italic.ttf'); }
@font-face { font-family: dyslexic-bolditalic; src: url('../font/OpenDyslexic-BoldItalic.ttf'); }